{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link id="pagestyle" href="{{ config.ASSETS_ROOT }}/css/app-cam.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
    
  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}

    <div class="container-fluid py-4">
      
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="example-text-input" class="form-control-label">PLC</label>
            <input type="text" class="form-control" id="ip_plc1" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">Cámaras</h6>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center ">
                <tbody>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{ config.ASSETS_ROOT }}/img/icons/digital-camera.svg" alt="Country flag">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Camera 1 IP:</p>
                          <input type="text" class="form-control" id="ip_cam1" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Estados:</p>
                        <div id="circle-container">
                          <div class="circle" id="cam1-c1"></div>
                          <div class="circle" id="cam1-c2"></div>
                          <div class="circle" id="cam1-c3"></div>
                          <div class="circle" id="cam1-c4"></div>
                          <div class="circle" id="cam1-c5"></div>
                          <div class="circle" id="cam1-c6"></div>
                          <div class="circle" id="cam1-c7"></div>
                          <div class="circle" id="cam1-c8"></div>
                          <div class="circle" id="cam1-c9"></div>
                          <div class="circle" id="cam1-c10"></div>
                          <div class="circle" id="cam1-c11"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Precisión:</p>
                        <h6 class="text-sm mb-0" id="cam1-pres">--.-%</h6>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{ config.ASSETS_ROOT }}/img/icons/digital-camera.svg" alt="Country flag">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Camera 2 IP:</p>
                          <input type="text" class="form-control" id="ip_cam2" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Estados:</p>
                        <div id="circle-container">
                          <div class="circle" id="cam2-c1"></div>
                          <div class="circle" id="cam2-c2"></div>
                          <div class="circle" id="cam2-c3"></div>
                          <div class="circle" id="cam2-c4"></div>
                          <div class="circle" id="cam2-c5"></div>
                          <div class="circle" id="cam2-c6"></div>
                          <div class="circle" id="cam2-c7"></div>
                          <div class="circle" id="cam2-c8"></div>
                          <div class="circle" id="cam2-c9"></div>
                          <div class="circle" id="cam2-c10"></div>
                          <div class="circle" id="cam2-c11"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Presición:</p>
                        <h6 class="text-sm mb-0" id="cam2-pres">--.-%</h6>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{ config.ASSETS_ROOT }}/img/icons/digital-camera.svg" alt="Country flag">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Camera 3 IP:</p>
                          <input type="text" class="form-control" id="ip_cam3" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Estados:</p>
                        <div id="circle-container">
                          <div class="circle" id="cam3-c1"></div>
                          <div class="circle" id="cam3-c2"></div>
                          <div class="circle" id="cam3-c3"></div>
                          <div class="circle" id="cam3-c4"></div>
                          <div class="circle" id="cam3-c5"></div>
                          <div class="circle" id="cam3-c6"></div>
                          <div class="circle" id="cam3-c7"></div>
                          <div class="circle" id="cam3-c8"></div>
                          <div class="circle" id="cam3-c9"></div>
                          <div class="circle" id="cam3-c10"></div>
                          <div class="circle" id="cam3-c11"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Presición:</p>
                        <h6 class="text-sm mb-0" id="cam2-pres">--.-%</h6>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="{{ config.ASSETS_ROOT }}/img/icons/digital-camera.svg" alt="Country flag">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Camera 4 IP:</p>
                          <input type="text" class="form-control" id="ip_cam4" value="192.168.1.10" onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Estados:</p>
                        <div id="circle-container">
                          <div class="circle" id="cam4-c1"></div>
                          <div class="circle" id="cam4-c2"></div>
                          <div class="circle" id="cam4-c3"></div>
                          <div class="circle" id="cam4-c4"></div>
                          <div class="circle" id="cam4-c5"></div>
                          <div class="circle" id="cam4-c6"></div>
                          <div class="circle" id="cam4-c7"></div>
                          <div class="circle" id="cam4-c8"></div>
                          <div class="circle" id="cam4-c9"></div>
                          <div class="circle" id="cam4-c10"></div>
                          <div class="circle" id="cam4-c11"></div>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Presición:</p>
                        <h6 class="text-sm mb-0" id="cam4-pres">--.-%</h6>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div> 

      <div class="row mt-4">
        <div class="col-md-6">
          <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
            <div class="d-flex justify-content-between">
              <a href="javascript:;" id="connectBtn" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Connect</a>
              <a href="javascript:;" id="connectBtnMobile" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
              <a href="javascript:;" id="disconnectBtn" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Disconnect</a>
              <a href="javascript:;" id="disconnectBtnMobile" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"><i class="ni ni-email-83"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
            <div >
              <a href="javascript:;" id="executeBtn" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Ejecutar</a>
              <a href="javascript:;" id="executeBtnMobile" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Imagen</h6>
              <p id="today-date" class="text-sm mb-0">...</p>
            </div>
            <div class="card-body p-3">
              <div class="carousel-item h-100 active" style="background-image: url('{{ config.ASSETS_ROOT }}/img/img_0.jpg'); background-size: cover;">
                <canvas id="chart-line" class="chart-canvas" height="900"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card card-carousel overflow-hidden h-100 p-0">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
              <div class="carousel-inner border-radius-lg h-100">
                <div class="carousel-item h-100 active" style="background-image: url('{{ config.ASSETS_ROOT }}/img/carousel-1.jpg');
      background-size: cover;">
                  <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                    <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                      <i class="ni ni-camera-compact text-dark opacity-10"></i>
                    </div>
                    <h5 class="text-white mb-1">Get started with Argon</h5>
                    <p>There’s nothing I really wanted to do in life that I wasn’t able to get good at.</p>
                  </div>
                </div>
                <div class="carousel-item h-100" style="background-image: url('{{ config.ASSETS_ROOT }}/img/carousel-2.jpg');
      background-size: cover;">
                  <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                    <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                      <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                    </div>
                    <h5 class="text-white mb-1">Faster way to create web pages</h5>
                    <p>That’s my skill. I’m not really specifically talented at anything except for the ability to learn.</p>
                  </div>
                </div>
                <div class="carousel-item h-100" style="background-image: url('{{ config.ASSETS_ROOT }}/img/carousel-3.jpg');
      background-size: cover;">
                  <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                    <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                      <i class="ni ni-trophy text-dark opacity-10"></i>
                    </div>
                    <h5 class="text-white mb-1">Share with us your design tips!</h5>
                    <p>Don’t be afraid to be wrong because you can’t learn anything from a compliment.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>
  
  </main>  

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  
  <script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
  <script src="{{ config.ASSETS_ROOT }}/js/plc-app.js"></script>
  <script>
    const sidenav_main = document.getElementById('sidenav-main');
    const toggleButton = document.getElementById('toggle-sidenav'); 
    toggleButton.addEventListener('click', function(event) {
      console.log('clicked');
      sidenav_main.classList.toggle('d-none');
    });
    // Get current date
    var today = new Date();
    var date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
    console.log(date);
    document.getElementById('today-date').textContent = date;


    var ctx1 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
    gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
    // new Chart(ctx1, {
    //   type: "line",
    //   data: {
    //     labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
    //     datasets: [{
    //       label: "Mobile apps",
    //       tension: 0.4,
    //       borderWidth: 0,
    //       pointRadius: 0,
    //       borderColor: "#5e72e4",
    //       backgroundColor: gradientStroke1,
    //       borderWidth: 3,
    //       fill: true,
    //       data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
    //       maxBarThickness: 6

    //     }],
    //   },
    //   options: {
    //     responsive: true,
    //     maintainAspectRatio: false,
    //     plugins: {
    //       legend: {
    //         display: false,
    //       }
    //     },
    //     interaction: {
    //       intersect: false,
    //       mode: 'index',
    //     },
    //     scales: {
    //       y: {
    //         grid: {
    //           drawBorder: false,
    //           display: true,
    //           drawOnChartArea: true,
    //           drawTicks: false,
    //           borderDash: [5, 5]
    //         },
    //         ticks: {
    //           display: true,
    //           padding: 10,
    //           color: '#fbfbfb',
    //           font: {
    //             size: 11,
    //             family: "Open Sans",
    //             style: 'normal',
    //             lineHeight: 2
    //           },
    //         }
    //       },
    //       x: {
    //         grid: {
    //           drawBorder: false,
    //           display: false,
    //           drawOnChartArea: false,
    //           drawTicks: false,
    //           borderDash: [5, 5]
    //         },
    //         ticks: {
    //           display: true,
    //           color: '#ccc',
    //           padding: 20,
    //           font: {
    //             size: 11,
    //             family: "Open Sans",
    //             style: 'normal',
    //             lineHeight: 2
    //           },
    //         }
    //       },
    //     },
    //   },
    // });
  </script>

{% endblock javascripts %}
